<div class="form row">
    <div class="center-align z-depth-3 white col s8 m6">
        <div class="input-field">
            <input id="form__login" type="text" class="validate">
            <label for="form__login">Логин</label>
            <span class="error-message" id="form__login_label"></span>
        </div>
        <div class="input-field">
            <input id="form__password" type="password" class="validate">
            <label for="form__password">Пароль</label>
            <span class="error-message" id="form__password_label"></span>
        </div>
        <a id="form__btn" disabled class="waves-effect waves-light btn">{{title}}</a>
    </div>
</div>